.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
test-files/**
test.js
test-file.js
test-file.ts
README.new.md
.eslintrc.json
node_modules/**
